/**
 * Materialized Input
 *
 * Overwrites the default styles defined by the bootstrap framework.
 */
.input--materialized {
    background: transparent;
    border: none;
    border-radius: 0%;
}

.input--materialized-dark {
    color: #fff;
    border-bottom: #fff solid thin;
}

.input--materialized-dark::placeholder {
    color: #f2f2f2;
}

.input--materialized-light {
    color: #6c757d;
    border-bottom: #6c757d solid thin;
}