<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-12">
            <h2 class="h3">Mijn restaurant</h2>
        </div>
    </div>

    <div class="row">
        <!-- RESTAURANT DATA -->        
        <div class="col-md-9">

            <div class="card rounded-0 h-100" style="min-height: 300px;">
                <div class="card-body">
                    
                    <form action="">
                        <div class="mb-3">
                            <label for="name" class="form-label">Restaurant naam</label>
                            <input type="text" name="name" id="name" class="form-control" [value]="currentRestaurant?.name">
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Restaurant omschrijving</label>
                            <textarea name="name" id="name" class="form-control" rows="3">{{ currentRestaurant?.description }}</textarea>
                        </div>
                    </form>

                    <small class="text-muted">Aangemeld sinds: {{ currentRestaurant?.created_at | date:'dd/MM/Y H:m:s' }}</small>

                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card rounded-0 card-sharp h-100" (click)="file.click()" style="max-height: 300px;">
                <div class="card-body mx-auto">
                    <img src="{{ logoImageUrl }}" alt="Restaurant logo" style="max-width: 14rem;">
                </div>
            </div>

            <input type="file" #file accept="image/*" id="fileToUpload" style="display: none;" (change)="handleFileInput($event)">
        </div>
        <!-- END RESTAURANT DATA-->
    </div>
</div>
