<app-manage-navigation></app-manage-navigation>

<div class="container my-5">

    <div class="row">
        <div class="col-lg-8">
            <h2 class="h3">Product toevoegen</h2>
        </div>
    </div>

    <!-- PRODUCT DATA -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card rounded-0">
                <div class="card-body">
                    <!-- FORM -->
                    <form [formGroup]="productCategoryCreateForm" id="createProductCategoryForm" (ngSubmit)="handleCreateProductCategoryForm()">
                        <div class="mb-3">
                            <label for="inputProductCategoryName" class="form-label">Naam</label>
                            <input type="text" formControlName="name" id="inputProductCategoryName" class="form-control">
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <div class="mb-3">
                            <button type="submit" [disabled]="!productCategoryCreateForm.valid" type="submit" class="btn btn-primary">Toevoegen</button>
                        </div>
                        <!-- END SUBMIT BUTTON -->
                        
                        <!-- FORM NOTIFICATION -->
                        <div class="alert alert-primary d-inline-block pt-2 pb-2" *ngIf="formSubmitNotification != undefined">
                            <i class="fas fa-check-circle"></i>
                            {{ formSubmitNotification }}
                        </div>
                        <!-- END FORM NOTIFICATION -->
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>