<div class="container mt-5 mb-5">

    <div class="row">
        <div class="col-md-8">
            <div class="row gy-2">
                <div class="col-lg-6">
                    <h2 class="h3">Mijn restaurant</h2>
                </div>
                <div class="col-lg-6 mb-2">
                    <div class="d-flex align-items-center justify-content-lg-end">
                        <div class="btn-group me-2" role="group">
                            <input (click)="handleCurrencyPreference($event)" type="radio" id="currency-radio-1" class="btn-check" name="currencyPreference" value="EUR" autocomplete="off" [checked]="currentRestaurant?.currency == 'EUR'">
                            <label for="currency-radio-1" class="btn btn-outline-primary btn-sm">EUR</label>
            
                            <input (click)="handleCurrencyPreference($event)" type="radio" id="currency-radio-2" class="btn-check" name="currencyPreference" value="USD" autocomplete="off" [checked]="currentRestaurant?.currency == 'USD'">
                            <label for="currency-radio-2" class="btn btn-outline-primary btn-sm">USD</label>
                        </div>

                        <div class="btn-group" role="group">
                            <input (click)="handleMetricPreference($event)" type="radio" id="metric-radio-1" class="btn-check" name="metricPreference" value="kilometers" autocomplete="off" [checked]="currentRestaurant?.metric == 'kilometers'">
                            <label for="metric-radio-1" class="btn btn-outline-primary btn-sm">Kilometers</label>
            
                            <input (click)="handleMetricPreference($event)" type="radio" id="metric-radio-2" class="btn-check" name="metricPreference" value="miles" autocomplete="off" [checked]="currentRestaurant?.metric == 'miles'">
                            <label for="metric-radio-2" class="btn btn-outline-primary btn-sm">Miles</label>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="row gy-2">
        <!-- RESTAURANT DATA -->        
        <div class="col-lg-8">

            <div class="card rounded-0 h-100" style="min-height: 300px;">
                <div class="card-body">
                    
                    <!-- FORM -->
                    <form [formGroup]="restaurantDetailsForm" (ngSubmit)="handleRestaurantDetailsFormSubmit()">
                        <!-- FORM CONTROL NAME-->
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Restaurant naam</label>
                            <input type="text" id="inputName" class="form-control" formControlName="name">
                        </div>
                        <!-- END FORM CONTROL NAME-->

                        <!-- FORM CONTROL DESCRIPTION-->
                        <div class="mb-3">
                            <label for="inputDescription" class="form-label">Restaurant omschrijving</label>
                            <textarea id="inputDescription" class="form-control" rows="3" formControlName="description"></textarea>
                        </div>
                        <!-- END FORM CONTROL DESCRIPTION-->

                        <!-- FORM CONTROL AVERAGE DELIVERY TIME-->
                        <div class="mb-3">
                            <label for="selectAverageDeliveryTime" class="form-label">Gemiddelde levertijd</label>
                            <select id="selectAverageDeliveryTime" class="form-select" formControlName="average_delivery_time" pattern="^[0-9]*$">
                                <option *ngIf="currentRestaurant?.average_delivery_time == null" selected>Selecteer een tijd..</option>
                                <option *ngFor="let minute of minuteRange" [value]="minute">{{ minute }} minuten</option>
                            </select>
                        </div>
                        <!-- END FORM CONTROL AVERAGE DELIVERY TIME-->
                        
                        <!-- FORM CONTROL DELIVERY CHARGE-->
                        <div class="mb-3">
                            <label for="inputDeliveryCharge" class="form-label">Bezorgkosten</label>
                            <div class="input-group" *ngIf="currentRestaurant?.currency == 'EUR'">
                                <span class="input-group-text" id="deliver-charge1">&euro;</span>
                                <input type="text" class="form-control" aria-describedby="deliver-charge1" formControlName="delivery_charge" pattern="^(\d+(?:\.\d+)?)$">                                
                            </div>
                            <div class="input-group" *ngIf="currentRestaurant?.currency == 'USD'">
                                <span class="input-group-text" id="minimum-order-amount1">&#36;</span>
                                <input type="text" class="form-control" aria-describedby="deliver-charge1" formControlName="delivery_charge" pattern="^(\d+(?:\.\d+)?)$">
                            </div>
                        </div>
                        <!-- END FORM CONTROL DELIVERY CHARGE-->

                        <!-- FORM CONTROL MINIMUM ORDER AMOUNT -->
                        <div class="mb-3">
                            <label for="inputMinimumOrderAmount" class="form-label">Minimum bestelbedrag</label>
                            <div class="input-group" *ngIf="currentRestaurant?.currency == 'EUR'">
                                <span class="input-group-text" id="minimum-order-amount1">&euro;</span>
                                <input type="text" class="form-control" id="inputMinimumOrderAmount" aria-describedby="minimum-order-amount1" formControlName="minimum_order_amount" pattern="^(\d+(?:\.\d+)?)$">                                
                            </div>
                            <div class="input-group" *ngIf="currentRestaurant?.currency == 'USD'">
                                <span class="input-group-text" id="minimum-order-amount1">&#36;</span>
                                <input type="text" class="form-control" id="inputMinimumOrderAmount" aria-describedby="minimum-order-amount1" formControlName="minimum_order_amount" pattern="^(\d+(?:\.\d+)?)$">
                            </div>
                        </div>
                        <!-- END FORM CONTROL MINIMUM ORDER AMOUNT -->

                        <!-- FORM CONTROL DELIVERY RADIUS -->
                        <div class="mb-3">
                            <label for="inputDeliveryRadius" class="form-label">Radius</label>
                            
                            <div class="input-group">
                                <input type="text" class="form-control" id="inputDeliveryRadius" aria-describedby="delivery-radius1" formControlName="delivery_radius" pattern="^(\d+(?:\.\d+)?)$">
                                <span class="input-group-text" id="deliver-radius1" *ngIf="currentRestaurant?.metric == 'kilometers'">kilometer</span>
                                <span class="input-group-text" id="deliver-radius1" *ngIf="currentRestaurant?.metric == 'miles'">miles</span>
                            </div>
                        </div>
                        <!-- END FORM CONTROL DELIVERY RADIUS -->

                        <!-- SUBMIT BUTTON -->
                        <div class="mb-3">
                            <button [disabled]="!restaurantDetailsForm.valid" type="submit" class="btn btn-primary">Bijwerken</button>
                        </div>
                        <!-- END SUBMIT BUTTON -->

                        <!-- FORM NOTIFICATION -->
                        <div class="alert alert-primary d-inline-block pt-2 pb-2" *ngIf="formSubmitNotification != undefined">
                            <i class="fas fa-check-circle"></i>
                            {{ formSubmitNotification }}
                        </div>
                        <!-- END FORM NOTIFICATION -->
                    </form>
                    <!-- END FORM -->

                    <small class="text-muted">Aangemeld sinds: {{ currentRestaurant?.created_at | date:'dd/MM/Y H:m:s' }}</small>

                </div>
            </div>
        </div>

        <div class="col-lg-4">
            
            <!-- RESTAURANT LOGO IMAGE -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card rounded-0 card-sharp" (click)="file.click()" style="max-height: 300px;">
                        <div class="card-body d-flex flex-wrap align-items-center mx-auto">
                            <img src="{{ logoImageUrl }}" alt="Restaurant logo" style="max-width: 14rem;">
                        </div>
                        <input type="file" #file accept="image/*" id="fileToUpload" style="display: none;" (change)="handleFileInput($event)">
                    </div>
                </div>
            </div>
            <!-- END RESTAURANT LOGO IMAGE -->

            <!-- RESTAURANT ADDRESS -->
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="card rounded-0">
                        <div class="card-body">
                            
                            <!-- SERCH INPUT -->
                            <div class="mb-3">
                                <label for="inputAddress" class="form-label"><strong>Adres</strong></label>
                                <input type="search" id="inputAddress" class="form-control" placeholder="Voer een adres in.."
                                (keyup)="getLocationByQuery($event)" [value]="currentAddress != undefined ? addressToString(currentAddress) : ''"
                                (focusout)="handleFocusoutClickEvent()">

                                <ul class="list-group address-suggestion-list" *ngIf="addressSuggestions.length > 0">
                                    <li class="list-group-item address-suggestion-item" *ngFor="let addressSuggestion of addressSuggestions" (click)="handleLocationChange(addressSuggestion)">{{ addressToStringSuggestions(addressSuggestion) }}</li>
                                </ul>
                            </div>
                            <!-- END SERCH INPUT -->
                            <hr>

                            <div class="mb-3">
                                <label for="readonlyInputPostalCode" class="form-label">Postcode</label>
                                <input type="text" id="readonlyInputPostalCode" class="form-control" aria-label="readonly postal code" readonly [value]="currentAddress != undefined ? currentAddress.postal_code : ''">
                            </div>

                            <div class="mb-3">
                                <label for="readonlyInputCity" class="form-label">Woonplaats</label>
                                <input type="text" id="readonlyInputCity" class="form-control" aria-label="readonly city" readonly 
                                [value]="currentAddress != undefined ? currentAddress.city : ''">
                            </div>

                            <!-- FORM NOTIFICATION -->
                            <div class="alert alert-primary d-inline-block pt-2 pb-2" *ngIf="addressSubmitNotification != undefined">
                                <i class="fas fa-check-circle"></i>
                                {{ addressSubmitNotification }}
                            </div>
                            <!-- END FORM NOTIFICATION -->

                        </div>
                    </div>
                </div>  
            </div>
            <!-- END RESTAURANT ADDRESS -->

        </div>
        <!-- END RESTAURANT DATA-->
    </div>
</div>
