<app-manage-navigation></app-manage-navigation>

<div class="container my-5">

    <div class="row mb-2">
        <div class="col-lg-8">
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="h3">Productcategorie details</h2>
                <div *ngIf="loadedProductCategory">
                    <app-manage-product-category-delete [productCategory]=productCategory></app-manage-product-category-delete>
                </div>
            </div>
        </div>
    </div>

    <!-- PRODUCT DATA -->
    <div class="row">

        <div class="col-lg-8">
            <div class="card rounded-0" style="min-height: 300px;">
                <div class="card-body">
                    <!-- FORM -->
                    <form [formGroup]="productCategoryDetailsForm" (ngSubmit)="handleProductCategoryDetailsFormSubmit()">
                        <!-- PRODUCT NAME INPUT -->
                        <div class="mb-3">
                            <label for="inputProductName" class="form-label">Product naam</label>
                            <input type="text" id="inputProductName" class="form-control" formControlName="name">
                        </div>
                        <!-- END PRODUCT NAME INPUT -->

                        <!-- PRODUCT IS ACTIVE CHECKBOX -->
                        <div class="mb-3">
                            <input type="checkbox" id="inputCheckIsActive" class="form-check-input" formControlName="is_active">
                            <label for="inputCheckIsActive" class="form-check-label">&nbsp;Actief?</label>&nbsp;
                            <i class="far fa-question-circle" placement="bottom" ngbTooltip="Toon of verberg deze productcagorie en onderliggende producten aan jouw restaurant bezoekers."></i>
                        </div>
                        <!-- END PRODUCT IS ACTIVE CHECKBOX -->

                        <!-- SUBMIT BUTTON -->
                        <div class="mb-3">
                            <button [disabled]="!productCategoryDetailsForm.valid" type="submit" class="btn btn-primary">Bijwerken</button>
                        </div>
                        <!-- END SUBMIT BUTTON -->
                        
                        <!-- FORM NOTIFICATION -->
                        <div class="alert alert-primary d-inline-block pt-2 pb-2" *ngIf="formSubmitNotification != undefined">
                            <i class="fas fa-check-circle"></i>
                            {{ formSubmitNotification }}
                        </div>
                        <!-- END FORM NOTIFICATION -->

                    </form>
                    <!-- END FORM -->

                    <small class="text-muted">Aangemaakt op: {{ productCategory?.created_at | date:'dd/MM/Y H:m:ss' }}</small>

                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <!-- PRODUCT IMAGE -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card rounded-0 card-sharp" (click)="file.click()" style="min-height: 300px; max-height: 300px;">
                        <div class="card-body d-flex flex-wrap align-items-center mx-auto">
                            <img src="{{ productCategoryImageUrl }}" alt="Product afbeelding" style="max-width: 14rem;">
                        </div>
                        <input type="file" #file accept="image/*" id="fileToUpload" style="display: none;" (change)="handleFileInput($event)">
                    </div>
                </div>
            </div>
            <!-- END PRODUCT IMAGE -->

        </div>

    </div>
    <!-- END PRODUCT DATA -->

</div>